@import "common";

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.3em;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  outline: none;
  display: table;
  background: white;
  color: black;
}

body > ui-view, body > ui-view > * {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

tr, th, td {
	outline: none;
}

.main-content {
  max-width: 1024px;
  background: #ececec;
  margin: auto;
  padding: $guideline*2 $guideline*4;
}